<%- include('./partials/header/header.ejs'); %>


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Dennis Kinoti</h1>
            <p>I'm <span class="typed" data-typed-items="a Web app developer, and an online Freelancer"></span></p>
        </div>
    </section>
    <!-- End Hero -->
    <%- include('./main-body.ejs'); %>
        <!-- End #main -->

        <%- include('./partials/footer/footer.ejs'); %>